<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link
      href="http://fonts.googleapis.com/css?family=Comfortaa"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
    <title>GetInTouch</title>
  </head>

  <body>
    <div class="container" id="main-sec">
      <div class="row">
        <div class="col-md-4"></div>
        <div id="login-div" class="col-md-4">
          <h1
            class="display-6"
            style="text-align:center; color: #888; padding-bottom: 5%;"
          >
            GetInTouch
          </h1>
          <div class="form-group">
            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="Enter password"
            />
          </div>

          <button id="login" class="btn btn-outline-primary ">login</button>
          <br /><br />
          <button id="signup" class="btn btn-outline-success">sign up</button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div id="loggedin-div">
      <header>
        <h2 class="display-4" style="text-align:center; color: #888;">
          GetInTouch
        </h2>
      </header>
      <section>
        <div id="change_username">
          <input
            id="username"
            type="text"
            placeholder="New Username.."
            disabled
          />
          <button
            id="send_username"
            type="button"
            class="btn btn-outline-success"
          >
            Start Conversation
          </button>
          <button id="logout" class="btn btn-outline-danger">logout</button>
        </div>
      </section>

      <section id="chatroom">
        <section id="feedback"></section>
      </section>

      <section id="input_zone">
        <input id="message" class="vertical-align" type="text" disabled />
        <button
          id="send_message"
          class="vertical-align btn btn-outline-success"
          type="button"
          disabled
        >
          Send
        </button>
      </section>

      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </div>
    <script src="chat.js"></script>
    <script src="login.js"></script>
    <script src="view.js"></script>
  </body>
</html>
